*{
    font-family: 'Inter';
    font-weight: 600;
}
.title-div {
    padding-top: 80px;
    width: 1336px;
    margin: 0 auto;
    text-align: center;    
}
.title {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
}
.big-title {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 54px;
    line-height: 62px;
    font-weight: bold;
    margin: 4 0 16 0;
}
.descrip {
    font-family: 'Inter';
    font-size: 20px;
    line-height: 35px;
    font-weight: 400;
    width: 760px;
    margin: 0 auto;
    
}
